/* line 37, ../../app/styles/main.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #778492;
}

/* line 45, ../../app/styles/main.scss */

a.btn,
.btn {
  font-family: Montserrat, arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

/* line 53, ../../app/styles/main.scss */

a.btn-cta-primary,
.btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 63, ../../app/styles/main.scss */

a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
}

/* line 71, ../../app/styles/main.scss */

a.btn-cta-secondary,
.btn-cta-secondary {
  background: #479fc8;
  border: 1px solid #479fc8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 81, ../../app/styles/main.scss */

a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #3893bd;
  border: 1px solid #3893bd;
  color: #fff;
}

/* line 89, ../../app/styles/main.scss */

.latest .featured-image .ribbon .text:before,
.latest .featured-image .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #276582;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* line 99, ../../app/styles/main.scss */

body {
  font-family: Lato, arial, sans-serif;
  color: #434343;
  background: #dae3e7;
  font-size: 16px;
}

/* line 123, ../../app/styles/main.scss */

a {
  color: #3aaa64;
}

/* line 125, ../../app/styles/main.scss */

a:hover {
  text-decoration: underline;
  color: #5f6b77;
  color: #2d844e;
}

/* line 130, ../../app/styles/main.scss */

a:focus {
  text-decoration: none;
}

/* line 135, ../../app/styles/main.scss */

a.btn .fa {
  margin-right: 5px;
}

/* line 138, ../../app/styles/main.scss */

a.btn:focus {
  color: #fff;
}

/* line 154, ../../app/styles/main.scss */

a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}

/* line 157, ../../app/styles/main.scss */

a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}

/* line 163, ../../app/styles/main.scss */

.btn {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/* line 166, ../../app/styles/main.scss */

.btn .fa {
  margin-right: 5px;
}

/* line 169, ../../app/styles/main.scss */

.btn:focus {
  color: #fff;
}

/* line 185, ../../app/styles/main.scss */

.text-highlight {
  color: #32383e;
}

/* line 188, ../../app/styles/main.scss */

.label-theme {
  background: #3aaa64;
  font-size: 12px;
}

/* line 192, ../../app/styles/main.scss */

.header {
  padding: 30px 0;
  background: #27ae60;
  border-top: 10px solid #40d47e;
}

/* line 196, ../../app/styles/main.scss */

.header .btn {
  margin-top: 60px;
  font-weight: bold;
}

/* line 200, ../../app/styles/main.scss */

.header .profile-image {
  margin-right: 30px;
  max-height: 100px;
}

/* line 205, ../../app/styles/main.scss */

.header .profile-content .name {
  color: white;
  font-size: 38px;
  margin-bottom: 5px;
  margin-top: 30px;
}

/* line 211, ../../app/styles/main.scss */

.header .profile-content .desc {
  color: #ecf0f1;
  font-family: Lato, arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}

/* line 219, ../../app/styles/main.scss */

.header .profile-content .social a {
  background: white;
  width: 36px;
  height: 36px;
  display: inline-block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 50%;
  background-clip: padding-box;
  color: #40d47e;
  text-align: center;
}

/* line 231, ../../app/styles/main.scss */

.header .profile-content .social a:hover {
  background: #40d47e;
  color: white;
}

/* line 235, ../../app/styles/main.scss */

.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}

/* line 242, ../../app/styles/main.scss */

.sections-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 246, ../../app/styles/main.scss */

.section {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  margin-bottom: 30px;
}

/* line 249, ../../app/styles/main.scss */

.section .section-inner {
  background: #fff;
  padding: 30px;
}

/* line 253, ../../app/styles/main.scss */

.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}

/* line 259, ../../app/styles/main.scss */

.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}

/* line 265, ../../app/styles/main.scss */

.latest .item {
  margin-bottom: 30px;
}

/* line 267, ../../app/styles/main.scss */

.latest .item .title {
  font-size: 18px;
  margin-top: 0;
}

/* line 270, ../../app/styles/main.scss */

.latest .item .title .label {
  margin-left: 5px;
  font-size: 12px;
}

/* line 274, ../../app/styles/main.scss */

.latest .item .title a {
  color: #778492;
}

/* line 276, ../../app/styles/main.scss */

.latest .item .title a:hover {
  color: #5f6b77;
}

/* line 281, ../../app/styles/main.scss */

.latest .item .project-image:hover {
  opacity: 0.8;
}

/* line 285, ../../app/styles/main.scss */

.latest .divider {
  margin-bottom: 60px;
}

/* line 288, ../../app/styles/main.scss */

.latest .featured {
  margin-bottom: 60px;
}

/* line 290, ../../app/styles/main.scss */

.latest .featured .title {
  margin-bottom: 5px;
  font-size: 20px;
}

/* line 294, ../../app/styles/main.scss */

.latest .featured .summary {
  margin-bottom: 30px;
  color: #778492;
}

/* line 298, ../../app/styles/main.scss */

.latest .featured img {
  margin-bottom: 30px;
}

/* line 301, ../../app/styles/main.scss */

.latest .featured .desc {
  margin-bottom: 30px;
}

/* line 305, ../../app/styles/main.scss */

.latest .featured-image {
  position: relative;
}

/* line 307, ../../app/styles/main.scss */

.latest .featured-image .text {
  background: #3aaa64;
  color: #fff;
}

/* line 311, ../../app/styles/main.scss */

.latest .featured-image .ribbon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}

/* line 318, ../../app/styles/main.scss */

.latest .featured-image .ribbon .text {
  font-family: Montserrat, sans-serif;
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #479fc8;
}

/* line 331, ../../app/styles/main.scss */

.latest .featured-image .ribbon .text:before {
  left: 0;
}

/* line 335, ../../app/styles/main.scss */

.latest .featured-image .ribbon .text:after {
  right: 0;
}

/* line 343, ../../app/styles/main.scss */

.ghfeed {
  height: 600px;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 347, ../../app/styles/main.scss */

.ghfeed * {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 350, ../../app/styles/main.scss */

.ghfeed *:before {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 354, ../../app/styles/main.scss */

.ghfeed *:after {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 361, ../../app/styles/main.scss */

.info .fa {
  margin-right: 15px;
  color: #ccd1d6;
}

/* line 364, ../../app/styles/main.scss */

.info .fa.fa-envelope-o {
  font-size: 14px;
}

/* line 368, ../../app/styles/main.scss */

.info ul {
  margin-bottom: 0;
}

/* line 371, ../../app/styles/main.scss */

.info li {
  margin-bottom: 15px;
}

/* line 373, ../../app/styles/main.scss */

.info li:last-child {
  margin-bottom: 0;
}

/* line 379, ../../app/styles/main.scss */

.skills .intro {
  margin-bottom: 30px;
}

/* line 383, ../../app/styles/main.scss */

.skills .skillset .item {
  margin-bottom: 30px;
}

/* line 386, ../../app/styles/main.scss */

.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0;
  margin-bottom: 10;
}

/* line 391, ../../app/styles/main.scss */

.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: Lato, arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 401, ../../app/styles/main.scss */

.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

/* line 405, ../../app/styles/main.scss */

.skills .skillset .level-bar-inner {
  height: 15px;
  background: #66cb8c;
}

/* line 412, ../../app/styles/main.scss */

.credits .btn {
  margin-bottom: 15px;
}

/* line 415, ../../app/styles/main.scss */

.credits ul li {
  margin-bottom: 10px;
}

/* line 417, ../../app/styles/main.scss */

.credits ul li .fa {
  margin-right: 5px;
}

/* line 420, ../../app/styles/main.scss */

.credits ul li a {
  color: #778492;
}

/* line 422, ../../app/styles/main.scss */

.credits ul li a:hover {
  color: #49515a;
}

/* line 428, ../../app/styles/main.scss */

.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}

/* line 432, ../../app/styles/main.scss */

.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}

/* line 437, ../../app/styles/main.scss */

.footer a {
  color: #fff;
}

/* line 440, ../../app/styles/main.scss */

.footer .fa-heart {
  color: #fb866a;
}

@media (max-width: 767px) {
  /* line 445, ../../app/styles/main.scss */

  .header {
    text-align: center;
  }

  /* line 447, ../../app/styles/main.scss */

  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }

  /* line 451, ../../app/styles/main.scss */

  .header .profile-content {
    float: none !important;
    text-align: center;
  }

  /* line 455, ../../app/styles/main.scss */

  .header .btn {
    margin-top: 30px;
    float: none !important;
  }

  /* line 460, ../../app/styles/main.scss */

  .project-image {
    margin-bottom: 15px;
  }
}

@media (min-width: 1400px) {
  /* line 465, ../../app/styles/main.scss */

  .container {
    width: 1360px;
  }
}

/* line 469, ../../app/styles/main.scss */

.projects .item {
  height: 80px;
  border-bottom: 1px solid #545e69;
  overflow-y: hidden;
  margin-bottom: 30px;
}

/* line 470, ../../app/styles/main.scss */

.projects .item i {
  color: #3aaa64;
}

/* line 477, ../../app/styles/main.scss */

.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* line 482, ../../app/styles/main.scss */

.projects .item .title a {
  color: #778492;
}

/* line 484, ../../app/styles/main.scss */

.projects .item .title a:hover {
  color: #5f6b77;
}

/* line 490, ../../app/styles/main.scss */

.experience .item {
  margin-bottom: 30px;
}

/* line 492, ../../app/styles/main.scss */

.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}

/* line 497, ../../app/styles/main.scss */

.experience .item .title .place {
  color: #999999;
  font-weight: normal;
}

/* line 500, ../../app/styles/main.scss */

.experience .item .title .place a {
  color: #999999;
}

/* line 502, ../../app/styles/main.scss */

.experience .item .title .place a:hover {
  color: #666666;
}

/* line 507, ../../app/styles/main.scss */

.experience .item .title .year {
  color: #999999;
  font-weight: normal;
}

/* line 513, ../../app/styles/main.scss */

.testimonials .item {
  margin-bottom: 30px;
}

/* line 515, ../../app/styles/main.scss */

.testimonials .item:last-child {
  margin-bottom: 0;
}

/* line 518, ../../app/styles/main.scss */

.testimonials .item .quote {
  color: #666666;
  font-size: 16px;
  border-left-color: #9fdeb7;
  margin-bottom: 15px;
}

/* line 523, ../../app/styles/main.scss */

.testimonials .item .quote .fa {
  color: #66cb8c;
  margin-right: 15px;
}

/* line 528, ../../app/styles/main.scss */

.testimonials .item .source {
  font-size: 14px;
  padding-left: 30px;
  font-weight: 500;
}

/* line 532, ../../app/styles/main.scss */

.testimonials .item .source .name {
  color: #939ea9;
  font-weight: 600;
}

/* line 536, ../../app/styles/main.scss */

.testimonials .item .source .title {
  color: #999999;
}

/* line 541, ../../app/styles/main.scss */

.education .item {
  margin-bottom: 30px;
}

/* line 543, ../../app/styles/main.scss */

.education .item:last-child {
  margin-bottom: 0;
}

/* line 546, ../../app/styles/main.scss */

.education .item .title {
  font-size: 16px;
  margin-top: 0;
}

/* line 550, ../../app/styles/main.scss */

.education .item .university {
  font-family: Lato, arial, sans-serif;
  font-size: 13px;
  color: #999999;
  font-weight: 600;
  padding-left: 25px;
}

/* line 556, ../../app/styles/main.scss */

.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}

/* line 562, ../../app/styles/main.scss */

.languages .item {
  margin-bottom: 15px;
}

/* line 564, ../../app/styles/main.scss */

.languages .item .title {
  color: #778492;
}

/* line 567, ../../app/styles/main.scss */

.languages .item .level {
  color: #999999;
}

/* line 570, ../../app/styles/main.scss */

.languages .item:last-child {
  margin-bottom: 0;
}

/* line 573, ../../app/styles/main.scss */

.languages .item .fa {
  color: #66cb8c;
}

/* line 577, ../../app/styles/main.scss */

.blog .item {
  margin-bottom: 30px;
}

/* line 579, ../../app/styles/main.scss */

.blog .item .title {
  font-size: 18px;
  line-height: 1.3;
}

/* line 582, ../../app/styles/main.scss */

.blog .item .title a {
  color: #778492;
}

/* line 584, ../../app/styles/main.scss */

.blog .item .title a:hover {
  color: #5f6b77;
}

/* line 589, ../../app/styles/main.scss */

.blog .item:last-child {
  margin-bottom: 0;
}

/* line 593, ../../app/styles/main.scss */

.list ul li {
  margin-bottom: 10px;
}

/* line 595, ../../app/styles/main.scss */

.list ul li .fa {
  margin-right: 5px;
}

/* line 598, ../../app/styles/main.scss */

.list ul li a {
  color: #778492;
}

/* line 600, ../../app/styles/main.scss */

.list ul li a:hover {
  color: #49515a;
}