//colors
$color_cape_cod_approx: #434343;
$color_geyser_approx: #dae3e7;
$color_slate_gray_approx: #778492;
$color_chateau_green_approx: #3aaa64;
$color_nevada_approx: #5f6b77;
$color_sea_green_approx: #2d844e;
$white: #fff;
$color_apple_approx: #54ba4e;
$color_shakespeare_approx: #479fc8;
$color_boston_blue_approx: #3893bd;
$color_tuna_approx: #32383e;
$color_trout_approx: #49515a;
$color_wild_sand_approx: #f5f5f5;
$color_tower_gray_approx: #b0b7bf;
$color_scarpa_flow_approx: #545e69;
$color_calypso_approx: #276582;
$color_mountain_mist_approx: #999999;
$color_storm_dust_approx: #666666;
$color_mischka_approx: #ccd1d6;
$color_gray_nurse_approx: #e8e8e8;
$color_de_york_approx: #66cb8c;
$color_chinook_approx: #9fdeb7;
$color_pewter_approx: #939ea9;
$color_gray_chateau_approx: #a1aab4;
$color_salmon_approx: #fb866a;

//fonts
$font_0: Lato;
$font_1: arial;
$font_2: sans-serif;
$font_3: Montserrat;

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5, h6
%extend_1 {
	font-family: $font_3, $font_2;
	font-weight: 700;
	color: $color_slate_gray_approx;
}

//original selectors
//.btn, a.btn
%extend_2 {
	font-family: $font_3, $font_1, $font_2;
	padding: 8px 16px;
	font-weight: bold;
}

//original selectors
//a.btn-cta-primary, .btn-cta-primary
%extend_3 {
	background: $color_apple_approx;
	border: 1px solid $color_apple_approx;
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
}

//original selectors
//a.btn-cta-primary:hover, .btn-cta-primary:hover
%extend_4 {
	background: $color_apple_approx;
	border: 1px solid $color_apple_approx;
	color: $white;
}

//original selectors
//a.btn-cta-secondary, .btn-cta-secondary
%extend_5 {
	background: $color_shakespeare_approx;
	border: 1px solid $color_shakespeare_approx;
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
}

//original selectors
//a.btn-cta-secondary:hover, .btn-cta-secondary:hover
%extend_6 {
	background: $color_boston_blue_approx;
	border: 1px solid $color_boston_blue_approx;
	color: $white;
}

//original selectors
//.latest .featured-image .ribbon .text:before, .latest .featured-image .ribbon .text:after
%extend_7 {
	content: '';
	position: absolute;
	bottom: -5px;
	border-top: 5px solid $color_calypso_approx;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}


body {
	font-family: $font_0, $font_1, $font_2;
	color: $color_cape_cod_approx;
	background: $color_geyser_approx;
	font-size: 16px;
}
h1 {
	@extend %extend_1;
}
h2 {
	@extend %extend_1;
}
h3 {
	@extend %extend_1;
}
h4 {
	@extend %extend_1;
}
h5 {
	@extend %extend_1;
}
h6 {
	@extend %extend_1;
}
a {
	color: $color_chateau_green_approx;
	&:hover {
		text-decoration: underline;
		color: $color_nevada_approx;
		color: $color_sea_green_approx;
	}
	&:focus {
		text-decoration: none;
	}
	&.btn {
		@extend %extend_2;
		.fa {
			margin-right: 5px;
		}
		&:focus {
			color: $white;
		}
	}
	&.btn-cta-primary {
		@extend %extend_3;
		&:hover {
			@extend %extend_4;
		}
	}
	&.btn-cta-secondary {
		@extend %extend_5;
		&:hover {
			@extend %extend_6;
		}
	}
	&.dotted-link {
		border-bottom: 1px dotted $color_slate_gray_approx;
		color: $color_slate_gray_approx;
		&:hover {
			text-decoration: none;
			color: $color_trout_approx;
		}
	}
}
.btn {
	@extend %extend_2;
	.fa {
		margin-right: 5px;
	}
	&:focus {
		color: $white;
	}
}
.btn-cta-primary {
	@extend %extend_3;
	&:hover {
		@extend %extend_4;
	}
}
.btn-cta-secondary {
	@extend %extend_5;
	&:hover {
		@extend %extend_6;
	}
}
.text-highlight {
	color: $color_tuna_approx;
}
.label-theme {
	background: $color_chateau_green_approx;
	font-size: 12px;
}
.header {
	padding: 30px 0;
	background: $color_wild_sand_approx;
	border-top: 10px solid $color_slate_gray_approx;
	.btn {
		margin-top: 60px;
		font-weight: bold;
	}
	.profile-image {
		margin-right: 30px;
     	max-height: 100px;
	}
	.profile-content {
		.name {
			color: $color_trout_approx;
			font-size: 38px;
			margin-bottom: 5px;
			margin-top: 30px;
		}
		.desc {
			color: $color_slate_gray_approx;
			font-family: $font_0, $font_1, $font_2;
			font-weight: 400;
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 15px;
		}
		.social a {
			background: $color_tower_gray_approx;
			width: 36px;
			height: 36px;
			display: inline-block;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 50%;
			//Instead of the line below you could use @includebackground-clip($clip)
			background-clip: padding-box;
			color: $white;
			text-align: center;
			&:hover {
				background: $color_slate_gray_approx;
			}
			.fa {
				font-size: 20px;
				padding-top: 8px;
			}
		}
	}
}
.sections-wrapper {
	padding-top: 60px;
	padding-bottom: 60px;
}
.section {
	margin-bottom: 30px;
	.section-inner {
		background: $white;
		padding: 30px;
	}
	.heading {
		margin-top: 0;
		margin-bottom: 30px;
		color: $color_scarpa_flow_approx;
		font-size: 24px;
	}
	.content .more-link .fa {
		margin-right: 5px;
		font-size: 14px;
	}
}
.latest {
	.item {
		margin-bottom: 30px;
		.title {
			font-size: 18px;
			margin-top: 0;
			.label {
				margin-left: 5px;
				font-size: 12px;
			}
			a {
				color: $color_slate_gray_approx;
				&:hover {
					color: $color_nevada_approx;
				}
			}
		}
		.project-image:hover {
			opacity: 0.8;
		}
	}
	.divider {
		margin-bottom: 60px;
	}
	.featured {
		margin-bottom: 60px;
		.title {
			margin-bottom: 5px;
			font-size: 20px;
		}
		.summary {
			margin-bottom: 30px;
			color: $color_slate_gray_approx;
		}
		img {
			margin-bottom: 30px;
		}
		.desc {
			margin-bottom: 30px;
		}
	}
	.featured-image {
		position: relative;
		.text {
			background: $color_chateau_green_approx;
			color: $white;
		}
		.ribbon {
			position: absolute;
			top: -4px;
			right: -4px;
			width: 110px;
			height: 110px;
			overflow: hidden;
			.text {
				font-family: $font_3, $font_2;
				position: relative;
				left: -8px;
				top: 18px;
				width: 158px;
				padding: 10px;
				font-size: 15px;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				color: $white;
				background-color: $color_shakespeare_approx;
				&:before {
					@extend %extend_7;
					left: 0;
				}
				&:after {
					@extend %extend_7;
					right: 0;
				}
			}
		}
	}
}
.ghfeed {
	height: 600px;
	//Instead of the line below you could use @includebox-sizing($bs)
	box-sizing: content-box;
	* {
		//Instead of the line below you could use @includebox-sizing($bs)
		box-sizing: content-box;
		&:before {
			//Instead of the line below you could use @includebox-sizing($bs)
			box-sizing: content-box;
		}
		&:after {
			//Instead of the line below you could use @includebox-sizing($bs)
			box-sizing: content-box;
		}
	}
}
.info {
	.fa {
		margin-right: 15px;
		color: $color_mischka_approx;
		&.fa-envelope-o {
			font-size: 14px;
		}
	}
	ul {
		margin-bottom: 0;
	}
	li {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.skills {
	.intro {
		margin-bottom: 30px;
	}
	.skillset {
		.item {
			margin-bottom: 30px;
		}
		.level-title {
			font-size: 16px;
			position: relative;
			margin-top: 0;
			margin-bottom: 10;
			.level-label {
				color: $color_mischka_approx;
				font-size: 14px;
				font-weight: 400;
				font-family: $font_0, $font_1, $font_2;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
		.level-bar {
			height: 15px;
			background: $color_gray_nurse_approx;
		}
		.level-bar-inner {
			height: 15px;
			background: $color_de_york_approx;
		}
	}
}
.credits {
	.btn {
		margin-bottom: 15px;
	}
	ul li {
		margin-bottom: 10px;
		.fa {
			margin-right: 5px;
		}
		a {
			color: $color_slate_gray_approx;
			&:hover {
				color: $color_trout_approx;
			}
		}
	}
}
.footer {
	background: $color_tuna_approx;
	color: $white;
	padding: 10px 0;
	.copyright {
		line-height: 1.6;
		color: $color_gray_chateau_approx;
		font-size: 14px;
	}
	a {
		color: $white;
	}
	.fa-heart {
		color: $color_salmon_approx;
	}
}
@media(max-width: 767px) {
	.header {
		text-align: center;
		.profile-image {
			float: none !important;
			margin: 0 auto;
		}
		.profile-content {
			float: none !important;
			text-align: center;
		}
		.btn {
			margin-top: 30px;
			float: none !important;
		}
	}
	.project-image {
		margin-bottom: 15px;
	}
}
@media(min-width: 1400px) {
	.container {
		width: 1360px;
	}
}
.projects .item {
	margin-bottom: 30px;
	.title {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 5px;
		line-height: 1.5;
		a {
			color: $color_slate_gray_approx;
			&:hover {
				color: $color_nevada_approx;
			}
		}
	}
}
.experience .item {
	margin-bottom: 30px;
	.title {
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 5px;
		line-height: 1.5;
		.place {
			color: $color_mountain_mist_approx;
			font-weight: normal;
			a {
				color: $color_mountain_mist_approx;
				&:hover {
					color: $color_storm_dust_approx;
				}
			}
		}
		.year {
			color: $color_mountain_mist_approx;
			font-weight: normal;
		}
	}
}
.testimonials .item {
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	.quote {
		color: $color_storm_dust_approx;
		font-size: 16px;
		border-left-color: $color_chinook_approx;
		margin-bottom: 15px;
		.fa {
			color: $color_de_york_approx;
			margin-right: 15px;
		}
	}
	.source {
		font-size: 14px;
		padding-left: 30px;
		font-weight: 500;
		.name {
			color: $color_pewter_approx;
			font-weight: 600;
		}
		.title {
			color: $color_mountain_mist_approx;
		}
	}
}
.education .item {
	margin-bottom: 30px;
	&:last-child {
		margin-bottom: 0;
	}
	.title {
		font-size: 16px;
		margin-top: 0;
	}
	.university {
		font-family: $font_0, $font_1, $font_2;
		font-size: 13px;
		color: $color_mountain_mist_approx;
		font-weight: 600;
		padding-left: 25px;
		.year {
			color: $color_tower_gray_approx;
			font-weight: 500;
		}
	}
}
.languages .item {
	margin-bottom: 15px;
	.title {
		color: $color_slate_gray_approx;
	}
	.level {
		color: $color_mountain_mist_approx;
	}
	&:last-child {
		margin-bottom: 0;
	}
	.fa {
		color: $color_de_york_approx;
	}
}
.blog .item {
	margin-bottom: 30px;
	.title {
		font-size: 18px;
		line-height: 1.3;
		a {
			color: $color_slate_gray_approx;
			&:hover {
				color: $color_nevada_approx;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
}
.list ul li {
	margin-bottom: 10px;
	.fa {
		margin-right: 5px;
	}
	a {
		color: $color_slate_gray_approx;
		&:hover {
			color: $color_trout_approx;
		}
	}
}