<div class="section-inner">
    <h2 class="heading">Popular Projects</h2>
    <div class="content">
        <div class="item" data-ng-repeat="repo in repos">
            <h3 class="title"><a data-ng-href="{{repo.html_url}}">{{repo.full_name}}</a></h3>
            <i class="pull-right fa fa-star text-success"> {{repo.stargazers_count}}</i>
            
            <p class="summary">{{repo.description}}</p>
            </p>
        </div>
       
        <!--//item-->

        <a class="btn btn-cta-secondary" data-ng-href="{{gitUrl}}">More on GitHub <i class="fa fa-chevron-right"></i></a>

    </div>
    <!--//content-->
</div>
<!--//section-inner-->